.gallery-container a div {
	width: 250px;
	height: 235px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#video {
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
	width:320px;
	height:240px;
}

.output {
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
	width:320px;
	height:240px;
}

/* .is-text-overflow-parent {
	display: flex;
}
.is-text-overflow {
	white-space: nowrap;
	width: 50px;
	overflow: hidden;
	text-overflow: "----";
	border: 1px solid #000000;
} */
.curve {
	border-radius: 1%;
}

.modal-background {
	background: rgba(255,255,255,0.5);
	backdrop-filter: blur(5px);
}

.center {
	margin: auto;
	width: 75%;
	padding: 10px;
}

.button-signin {
	background-color: rgb(218, 247, 166 );
	border-style: none;
}

.button-forget {
	background-color: rgb(244, 187, 68);
	border-style: none;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}